{%- load_yaml as server_defaults %}
default:
  subsystems:
    KRA:
      pkgs: [pki-ca, pki-kra]
    OCSP:
      pkgs: [pki-ca, pki-ocsp]
    TKS:
      pkgs: [pki-tks]
    TPS:
      pkgs: [pki-tps, pki-tps-client]
      pki_authdb_basedn: 'o=pki-tomcat-TPS'
Debian:
  pkgs:
  - python-nss
  - 389-ds-base
  - pki-ca
{%- endload %}

{%- set server = salt['grains.filter_by'](server_defaults, merge=salt['pillar.get']('dogtag:server'), base='default') %}

{%- set dogtag_mine_certs = salt['mine.get']('I@dogtag:server:role:master', 'dogtag_certs', 'compound') %}
{%- do server.update({'dogtag_certs': dogtag_mine_certs.values()[0] }) %}
